<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
                <h1 class="title">
                    City comparison - Options
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
			{% csrf_token %}
                        <div class="field has-addons">
                            <div class="control">
                                <button class="button is-info" style="background-color:orange">
                                     <a href="{% url 'weather_cities:index' %}">Continue comparing cities with OpenWeatherMap</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
			{% csrf_token %}
                        <div class="field has-addons">
                            <div class="control">
                                <button class="button is-info" style="background-color:orange">
                                     <a href="{% url 'home:index' %}">Return to home page</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-3">
		Change to different provider
                </div>
            </div>
            <div class="columns">
                <div class="column is-offset-4 is-6">
                    <form method="POST">
			{% csrf_token %}
                        <div class="field has-addons">
                            <div class="control">
                                <button class="button is-info" style="background-color:orange">
                                     <a href="{% url 'weather_cities:weatherbit' %}">Weatherbit</a>
                                </button>
                                <button class="button is-info" style="background-color:orange">
                                     <a href="{% url 'weather_cities:here' %}">here.com</a>
                                </button>
                                <button class="button is-info" style="background-color:orange">
                                     <a href="{% url 'weather_cities:worldweatheronline' %}">WorldWeatherOnline</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

    </section>

    <footer class="footer">
    dedicated for introducing the comparison app
    <br>
    created by Jann Demond, Gramoz Sejfijaj and Mathias Schäfer
    </footer>
</body>
</html>